<div style="color:red;background-color:lime;padding:3%;border-radius:150px 150px;font-size:2em;text-align:center">Data analysis with-LR-DT-RF-and-SVM-99.6% AUC</div>

In [102]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings
import matplotlib
warnings.filterwarnings("ignore")
pd.set_option("display.max_rows",None)
pd.set_option("display.max_columns",None)
matplotlib.rcParams.update({'font.size': 15})

In [103]:
sns.set_theme(palette='tab10',
              font='Lucida Calligraphy',
              font_scale=1.5,
              rc=None)

In [104]:
plt.style.use('dark_background')

In [105]:
df=pd.read_csv("predictive_maintenance.csv")

In [106]:
df.sample(10).style.set_properties(
    **{
        'background-color': 'Brown',
        'color': 'white',
        'border-color': 'White'
    })

In [107]:
df.columns

Index(['UDI', 'Product ID', 'Type', 'Air temperature [K]',
       'Process temperature [K]', 'Rotational speed [rpm]', 'Torque [Nm]',
       'Tool wear [min]', 'Target', 'Failure Type'],
      dtype='object')

In [108]:
df=df.drop(["UDI","Product ID"],axis=1)

In [109]:
df.shape

(10000, 8)

In [110]:
## Converting temperature in centigrate from Kelvin [1 K = -273.15 °C  ] 

df["Air temperature [K]"] = df["Air temperature [K]"] - 273.15
df["Process temperature [K]"] = df["Process temperature [K]"] - 273.15

# Renaming temperature in Centigrate(°C) from Kelvin (K)
df.rename(columns={"Air temperature [K]" : "Air temperature [°C]","Process temperature [K]" : "Process temperature [°C]"},inplace=True)

In [111]:
df["Temperature difference [°C]"] = df["Process temperature [°C]"] - df["Air temperature [°C]"]
df.sample(5)

,Type,Air temperature [°C],Process temperature [°C],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Failure Type,Temperature difference [°C]
1596,L,24.85,34.95,1877,24.3,0,0,No Failure,10.1
6313,L,27.75,37.15,1440,47.6,140,0,No Failure,9.4
8154,L,26.45,37.55,1393,52.1,110,0,No Failure,11.1
4871,L,30.55,39.25,1513,40.1,135,0,No Failure,8.7
1291,M,25.45,36.55,1675,28.4,115,0,No Failure,11.1

In [112]:
## check for missing values
df.isnull().sum()

Type                           0
Air temperature [°C]           0
Process temperature [°C]       0
Rotational speed [rpm]         0
Torque [Nm]                    0
Tool wear [min]                0
Target                         0
Failure Type                   0
Temperature difference [°C]    0
dtype: int64

In [113]:
df.dtypes

Type                            object
Air temperature [°C]           float64
Process temperature [°C]       float64
Rotational speed [rpm]           int64
Torque [Nm]                    float64
Tool wear [min]                  int64
Target                           int64
Failure Type                    object
Temperature difference [°C]    float64
dtype: object

In [114]:
df.describe()

In [120]:
df["Target"].value_counts()

0    9661
1     339
Name: Target, dtype: int64

In [122]:
df["Failure Type"].value_counts()

No Failure                  9652
Heat Dissipation Failure     112
Power Failure                 95
Overstrain Failure            78
Tool Wear Failure             45
Random Failures               18
Name: Failure Type, dtype: int64

In [126]:
df.dtypes

Type                            object
Air temperature [°C]           float64
Process temperature [°C]       float64
Rotational speed [rpm]           int64
Torque [Nm]                    float64
Tool wear [min]                  int64
Target                           int64
Failure Type                    object
Temperature difference [°C]    float64
dtype: object

In [127]:
from sklearn.preprocessing import LabelEncoder
st=LabelEncoder()

df["Type"]=st.fit_transform(df["Type"])

In [132]:
df["Failure Type"]=st.fit_transform(df["Failure Type"])

In [133]:
df.dtypes

Type                             int32
Air temperature [°C]           float64
Process temperature [°C]       float64
Rotational speed [rpm]           int64
Torque [Nm]                    float64
Tool wear [min]                  int64
Target                           int64
Failure Type                     int32
Temperature difference [°C]    float64
Failre Type                      int32
dtype: object